
.project {
	flex: 1 1 30%;
	min-height: 10rem;
	background-color: azure;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
} 



.skill {
	text-align: center;
	background-color: azure;
	margin: 0.5rem 0.5rem 0 0;
}

.expsContainer {  
	flex: 1 1 50%;
	margin: 0%;
	padding: 1rem;
	/* PARENT */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.exp {
	text-align: center;
	background-color: azure;
	margin: 0.5rem 0.5rem 0 0;
}