@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:ital,wght@0,200;0,400;0,600;1,200;1,600&display=swap');

.headerBody, select, input, button, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
