.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
	padding: 2rem;
    padding-top: 0.1rem;
    padding-bottom: 0%;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}
